:root{
    --main-red: #a41605;
    --main-blue: #2154a2;
}

body{
    font-family: 'Open Sans', sans-serif; 
    color: white;
    padding: 30px;
}

canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

h1{
    text-align: left;
}

header{
    text-align: left;
}

header h1{
   font-size: 40px; 
}

header h2{
    font-size: 24px; 
    font-style: italic;
}

header hr{
    width: 30px;
    margin-left: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-choose{
    font-size: 20px;
    font-weight: bold;
}

.number-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 125px;
    gap: 30px;
    width: 500px;
}

#war-score{
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    font-weight: bold;
}

.number-wrapper button{
    cursor: pointer;
    color: white;
    border: solid 4px white;
    font-weight: bold;
    background: none;
    border-radius: 15px;
    font-size: 56px;
    height: 75px;
    width: 75px;
    transition: all linear 0.05s;
    filter: brightness(1.2);
}

.number-wrapper button:active{
    transform: translateY(4px);
}

.number-wrapper button:hover{
    filter: brightness(1.75);
}

#decrease-score:active{
    box-shadow: 0 5px var(--main-blue);
    border: solid 4px var(--main-blue);
    color: var(--main-blue);
}

#increase-score:active{
    box-shadow: 0 5px var(--main-red);
    border: solid 4px var(--main-red);
    color: var(--main-red);
}

#battle-commentary{
    text-align: center;
    margin-top: 75px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.chat-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.chat-div input, .chat-div button{
    background: none;
    border: solid 2px white;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.chat-div button{
    text-transform: none;
    transition: all linear 0.2s;
    cursor: pointer;
}

.chat-div button:hover, .chat-div button:active{
    box-shadow: 0 5px white;
}

.chat-div button:active{
    transform: translateY(4px);
}

::placeholder{
    color: white;
}