:root{
    --main-red: #a41605;
    --main-blue: #2154a2;
}
body{
    font-family: 'Open Sans', sans-serif; 
    background-color: white;
    color: white;
    padding: 20px
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25vh;
    gap: 30px;
    width: 500px;
}

#war-score{
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    font-weight: bold;
}

.number-wrapper button{
    cursor: pointer;
    color: white;
    border: solid 4px white;
    font-weight: bold;
    background: none;
    border-radius: 15px;
    font-size: 56px;
    height: 75px;
    width: 75px;
    transition: all linear 0.1s;
    filter: brightness(1.2);
}

.number-wrapper button:active{
    transform: translateY(4px);
}

.number-wrapper button:hover{
    filter: brightness(1.75);
}

#decrease-score:active{
    box-shadow: 0 5px var(--main-blue);
    border: solid 4px var(--main-blue);
    color: var(--main-blue);
}

#increase-score:active{
    box-shadow: 0 5px var(--main-red);
    border: solid 4px var(--main-red);
    color: var(--main-red);
}